--- BASIC ---

0 = <TMPL_IF [% 0 %]>1<TMPL_ELSE>0</TMPL_IF>
1 = <TMPL_IF [% 1 %]>1<TMPL_ELSE>0</TMPL_IF>

0 = <TMPL_IF [% $falsy %]>1<TMPL_ELSE>0</TMPL_IF>
1 = <TMPL_IF [% $truthy %]>1<TMPL_ELSE>0</TMPL_IF>

--- OR ---

1 = <TMPL_IF [% 1 || 1 %]>1<TMPL_ELSE>0</TMPL_IF>
1 = <TMPL_IF [% 1 || 0 %]>1<TMPL_ELSE>0</TMPL_IF>
1 = <TMPL_IF [% 0 || 1 %]>1<TMPL_ELSE>0</TMPL_IF>
0 = <TMPL_IF [% 0 || 0 %]>1<TMPL_ELSE>0</TMPL_IF>

? = <TMPL_IF [% 0 || $unknown %]>1<TMPL_ELSE>0</TMPL_IF>
1 = <TMPL_IF [% 1 || $unknown %]>1<TMPL_ELSE>0</TMPL_IF>

? = <TMPL_IF [% $falsy || $unknown %]>1<TMPL_ELSE>0</TMPL_IF>
1 = <TMPL_IF [% $truthy || $unknown %]>1<TMPL_ELSE>0</TMPL_IF>

--- AND ---

1 = <TMPL_IF [% 1 && 1 %]>1<TMPL_ELSE>0</TMPL_IF>
0 = <TMPL_IF [% 1 && 0 %]>1<TMPL_ELSE>0</TMPL_IF>
0 = <TMPL_IF [% 0 && 1 %]>1<TMPL_ELSE>0</TMPL_IF>
0 = <TMPL_IF [% 0 && 0 %]>1<TMPL_ELSE>0</TMPL_IF>

0 = <TMPL_IF [% 0 && $unknown %]>1<TMPL_ELSE>0</TMPL_IF>
? = <TMPL_IF [% 1 && $unknown %]>1<TMPL_ELSE>0</TMPL_IF>

0 = <TMPL_IF [% $falsy && $unknown %]>1<TMPL_ELSE>0</TMPL_IF>
? = <TMPL_IF [% $truthy && $unknown %]>1<TMPL_ELSE>0</TMPL_IF>

--- Optimization ---

<TMPL_IF [% 1 %]>
    <TMPL_VAR multiple>
    <TMPL_VAR statements>
</TMPL_IF>

--- TMPL_SETVAR ---

<TMPL_SETVAR setvar_falsy>0</TMPL_SETVAR>
<TMPL_SETVAR setvar_truthy>1</TMPL_SETVAR>

0 = <TMPL_IF [% $setvar_falsy %]>1<TMPL_ELSE>0</TMPL_IF>
1 = <TMPL_IF [% $setvar_truthy %]>1<TMPL_ELSE>0</TMPL_IF>

--- TMPL_ASSIGN ---

<TMPL_ASSIGN assign_falsy [% 0 %]>
<TMPL_ASSIGN assign_truthy [% 1 %]>
<TMPL_ASSIGN assign_unknown [% $unknown %]>

0 = <TMPL_IF [% $assign_falsy %]>1<TMPL_ELSE>0</TMPL_IF>
1 = <TMPL_IF [% $assign_truthy %]>1<TMPL_ELSE>0</TMPL_IF>
? = <TMPL_IF [% $assign_unknown %]>1<TMPL_ELSE>0</TMPL_IF>
