<TMPL_LOOP b_item>
    <div class="output">1</div>
    <TMPL_CONTINUE>
    <div class="not-output">2</div>
</TMPL_LOOP>

<TMPL_FOR b_item IN=b_items>
    <div class="output">1</div>
    <TMPL_BREAK>
    <div class="not-output">2</div>
</TMPL_FOR>
