<TMPL_IF b_condition>
    <TMPL_LOOP b_item>
        <TMPL_IF b_nested_condition>
            <div class="common">
                This part is common for all items.
            </div>
            <TMPL_IF b_skip>
                <TMPL_CONTINUE>
            </TMPL_IF>
            <div class="can-be-skipped">
                <TMPL_VAR b_value>
            </div>
        </TMPL_IF>
    </TMPL_LOOP>
</TMPL_IF>
